<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103332765780-06oiaa9rsbd1kbga55md4bj1nls1sd74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103332765780-06oiaa9rsbd1kbga55md4bj1nls1sd74</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzYLjC-v4SQNL_27uq1OYG8N4F7UDzy8</string>
	<key>GCM_SENDER_ID</key>
	<string>103332765780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neom</string>
	<key>PROJECT_ID</key>
	<string>neom-e4c49</string>
	<key>STORAGE_BUCKET</key>
	<string>neom-e4c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103332765780:ios:ba14198780379d2b35cdc1</string>
</dict>
</plist>